.titulo{
    border-left: #6EB536 solid 20px;
    padding: 28px 16px;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
}
div{
    background-color: #7F7E7E;
}
label{
    color: #FFF;
}
.btn-secondary,
.btn-secondary:active{
    background-color: #7536B5;
}
.btn-secondary{
    &:hover{
        background-color: #532185;
    }
}