<div class="col-12 mb-3 titulo">
    <p class="m-0">Módulo de Caixa</p>
</div>

<div class="col-12 p-4">
    <form (ngSubmit)="salvar()">
        <div class="form-group row mb-3" *ngIf="this.caixa.id != 0">
            <label for="id" class="col-12 col-form-label">ID</label>
            <div class="col-12">
                <input id="id" name="id" type="text" class="form-control" readonly="true"
                    [(ngModel)]="this.caixa.id">
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label for="status" class="col-12 col-form-label">Status</label>
                <div class="col-12">
                    <input id="status" name="status" type="number" class="form-control"
                        [(ngModel)]="this.caixa.status">
                </div>
            </div>
            <div class="col-4">
                <label for="dataFechamento" class="col-12 col-form-label">Data Fechamento</label>
                <div class="col-12">
                    <input id="dataFechamento" name="dataFechamento" type="date" class="form-control"
                        [(ngModel)]="this.caixa.dataFechamento">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 d-flex justify-content-center">
                <button name="submit" type="reset" class="btn btn-secondary mx-2">
                    Limpar
                </button>
                <button name="submit" class="btn btn-secondary mx-2" (click)="cancelar()">
                    Cancelar
                </button>
                <button name="submit" type="submit" class="btn btn-secondary mx-2">
                    {{ this.isEdicao ? 'Salvar Alterações' : 'Adicionar' }}
                </button>
            </div>
        </div>
    </form>
</div>