<div class="col-12 mb-3 titulo">
    <p class="m-0">Módulo de Categoria</p>
</div>

<div class="col-12 p-4">
    <form (ngSubmit)="salvar()">
        <div class="form-group row mb-3" *ngIf="this.categoria.id != 0">
            <label for="id" class="col-12 col-form-label">ID</label>
            <div class="col-12">
                <input id="id" name="id" type="text" class="form-control" readonly="true"
                    [(ngModel)]="this.categoria.id">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="nome" class="col-12 col-form-label">Nome</label>
            <div class="col-12">
                <input id="nome" name="nome" placeholder="Ex: Notebook" type="text" class="form-control"
                    [(ngModel)]="this.categoria.nome">
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-6">
                <label for="qualidade" class="col-12 col-form-label">Qualidade</label>
                <div class="col-12">
                    <input id="qualidade" name="qualidade" placeholder="0" type="text" class="form-control"
                        [(ngModel)]="this.categoria.qualidade">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 d-flex justify-content-center">
                <button name="submit" type="reset" class="btn btn-secondary mx-2">
                    Limpar
                </button>
                <button name="submit" class="btn btn-secondary mx-2" (click)="cancelar()">
                    Cancelar
                </button>
                <button name="submit" type="submit" class="btn btn-secondary mx-2">
                    {{ this.isEdicao ? 'Salvar Alterações' : 'Adicionar' }}
                </button>
            </div>
        </div>
    </form>
</div>