section{
    width: 100%;
}
div{
    background-color: #7F7E7E;
}
.titulo{
    border-left: #6EB536 solid 20px;
    padding: 28px 16px;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
}
.botoes{
    display: flex;
    justify-content: end;
    button{
        border: none;
        border-radius: 5px;
        background-color: #6EB536;
        color: #FFF;
        padding: 10px 20px;
        &:hover{
            background-color: #60a32d;
        }
    }
}
.btn-secondary,
.btn-secondary:active{
    background-color: #7536B5;
}