<main class="container-fluid">
  <div class="row">
    <section class="col-2 p-0 menu">
    
      <div class="logo">
        <p class="m-0">SuperdevStore</p>
      </div>
  
      <div class="mt-4 itens">
        <div>Módulo Categoria</div>
        <div>Módulo Produto</div>
        <div>Módulo Cliente</div>
        <div>Módulo Pedido</div>
        <div>Módulo Caixa</div>
      </div>
    
    </section>
    <section class="col-10 conteudo">

        <div class="col-12 mb-3 titulo">
          <p class="m-0">Módulo de Produto</p>
        </div>

        <div class="col-12 p-4 pb-0">
          <div class="m-0 botoes">
            <button>+ Novo</button>
          </div>
        </div>

        <div class="col-12 p-4">
          <table class="table table-hover table-light">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Notebook</td>
                <td>R$ 4500,00</td>
                <td>40</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Ver Detalhe</a></li>
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Notebook</td>
                <td>R$ 4500,00</td>
                <td>40</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Ver Detalhe</a></li>
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Notebook</td>
                <td>R$ 4500,00</td>
                <td>40</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Ver Detalhe</a></li>
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Notebook</td>
                <td>R$ 4500,00</td>
                <td>40</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Ver Detalhe</a></li>
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Notebook</td>
                <td>R$ 4500,00</td>
                <td>40</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Ver Detalhe</a></li>
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

    </section>
  </div>
</main>